.game_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.grid_and_controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}